ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  background-color: white;
  border-radius: 6px;
  max-width: 25em;
  margin: auto;
  text-align: center;
  a {
    border-radius: 6px 0 0 6px;
  }
  li:nth-child(2) {
    a {
      border-radius: 0 6px 6px 0;
    }
  }
}
